<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= favicon %>
    <%= stylesheet 'main' %>

  </head>
  <body>
    <header>
        <h1>
            <a href="/">PhotoMem</a>
        </h1>

        <div class="menu">
            <a class="nav-link" href="/images">Synced Images</a>
        </div>
    </header>

    <div class="main-content">
      <%= yield %>
    </div>
  </body>
</html>
