body {
    background: #1f2937;
    color: #d1d5db;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    color: #d97706;
}

a {
    color: #d97706;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table, th, td {
    border: solid 1px orange;
    border-collapse: collapse;
    padding: .5rem 1rem;
    text-align: left;
}

header {
    background: #111827;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

header h1 {
    color: #d97706;
    margin: 0;
}

header h1 a {
    text-decoration: none;
    color: inherit;
}

.nav-link {
    font-size: 1.15rem;
}

.main-content {
    padding: .5rem;
}

.button {
    background: #92400e;
    color: white;
    text-decoration: none;
    border-radius: 1rem;
    border: none;
    padding: .5rem;
    margin: 0 1rem;
}

.button:hover {
    background: #b45309;
}

button {
    cursor: pointer;
}

button:disabled {
    opacity: .75;
}

button:disabled:hover {
    background: #92400e;
}
